n8n-hyperfollow-distribution.json
{
  "name": "HyperFollow Link Distribution",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hyperfollow-distribute",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "hyperfollow-distribute"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "hyperfollow_link",
              "value": "={{ $json.body.hyperfollow_link }}"
            },
            {
              "name": "artist_name",
              "value": "={{ $json.body.artist_name }}"
            },
            {
              "name": "song_title",
              "value": "={{ $json.body.song_title }}"
            },
            {
              "name": "release_date",
              "value": "={{ $json.body.release_date }}"
            },
            {
              "name": "custom_message",
              "value": "={{ $json.body.custom_message || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate platform-specific messages\nconst artist = $input.item.json.artist_name;\nconst song = $input.item.json.song_title;\nconst link = $input.item.json.hyperfollow_link;\nconst customMsg = $input.item.json.custom_message;\nconst releaseDate = $input.item.json.release_date;\n\n// Default message if no custom message provided\nconst baseMessage = customMsg || `🎵 New Release Alert! 🎵\\n\\n\"${song}\" by ${artist} is now available on all streaming platforms!`;\n\n// Twitter/X (280 characters)\nconst twitterMessage = `${baseMessage}\\n\\n🎧 Listen now: ${link}\\n\\n#NewMusic #${artist.replace(/\\s+/g, '')} #MusicRelease`;\n\n// Facebook (longer form)\nconst facebookMessage = `${baseMessage}\\n\\nRelease Date: ${releaseDate}\\n\\n🎧 Stream on your favorite platform: ${link}\\n\\nThank you for your support! 🙏`;\n\n// Instagram (with hashtags)\nconst instagramMessage = `${baseMessage}\\n\\n🎧 Link in bio: ${link}\\n\\n#newmusic #musicrelease #${artist.replace(/\\s+/g, '').toLowerCase()} #independentartist #streaming #spotify #applemusic #music`;\n\n// LinkedIn (professional tone)\nconst linkedinMessage = `Excited to announce the release of \"${song}\"!\\n\\n${customMsg || 'This new track represents my latest creative work and is now available across all major streaming platforms.'}\\n\\nListen here: ${link}\\n\\n#MusicProduction #NewRelease #IndependentArtist`;\n\n// Telegram/Discord (casual)\nconst socialMessage = `🎉 NEW RELEASE 🎉\\n\\n${artist} - \"${song}\"\\n\\n${customMsg || 'Out now on all platforms!'}\\n\\n🎧 ${link}\\n\\nEnjoy and share with your friends!`;\n\nreturn {\n  twitter: twitterMessage.substring(0, 280),\n  facebook: facebookMessage,\n  instagram: instagramMessage,\n  linkedin: linkedinMessage,\n  telegram: socialMessage,\n  discord: socialMessage,\n  artist: artist,\n  song: song,\n  link: link\n};"
      },
      "id": "generate-messages",
      "name": "Generate Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.twitter }}",
        "additionalFields": {}
      },
      "id": "post-twitter",
      "name": "Post to Twitter/X",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        850,
        100
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "1",
          "name": "Twitter OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "postAs": "page",
        "pageId": "",
        "content": "={{ $json.facebook }}",
        "options": {}
      },
      "id": "post-facebook",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.facebook",
      "typeVersion": 1,
      "position": [
        850,
        220
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "2",
          "name": "Facebook Graph API"
        }
      }
    },
    {
      "parameters": {
        "resource": "post",
        "text": "={{ $json.linkedin }}",
        "additionalFields": {}
      },
      "id": "post-linkedin",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedin",
      "typeVersion": 1,
      "position": [
        850,
        340
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "3",
          "name": "LinkedIn OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "",
        "text": "={{ $json.telegram }}",
        "additionalFields": {
          "disable_web_page_preview": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "post-telegram",
      "name": "Post to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        850,
        460
      ],
      "credentials": {
        "telegramApi": {
          "id": "4",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "webhookUri": "",
        "text": "={{ $json.discord }}",
        "options": {}
      },
      "id": "post-discord",
      "name": "Post to Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        850,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/{{ $json.instagram_account_id }}/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.cover_image_url || '' }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.instagram }}"
            }
          ]
        },
        "options": {}
      },
      "id": "post-instagram-create",
      "name": "Create Instagram Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1050,
        220
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "2",
          "name": "Facebook Graph API"
        }
      },
      "disabled": true,
      "notes": "Requires Instagram Business Account ID and image URL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.twitter }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-platforms",
      "name": "Check Platforms to Post",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        700
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {}
      },
      "id": "log-results",
      "name": "Log Results",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1050,
        580
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Generate Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Messages": {
      "main": [
        [
          {
            "node": "Post to Twitter/X",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Twitter/X": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Telegram": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Discord": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "hyperfollow-distro-template"
  },
  "id": "hyperfollow-social-distribution",
  "tags": []
}
